@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {

  .slider {
    @apply h-96 md:h-[45rem];

    .slider-text {
      @apply p-4 h-full md:flex md:flex-col justify-center text-white w-1/2
    }

    .slider-heading {
      @apply pb-2 sm:pb-12 text-3xl font-bold text-blue-400
    }

    .slider-body {
      @apply pl-2 sm:pl-12 text-lg
    }
  }
}